body {
	font-family: sans-serif;
}


#cajita-misteriosa img{
	border-radius: 50px;
	padding: 5px;
	background-color: #030;
}

.container {
	display: flex;
	align-items: center;
}

.boton-entrada {
	color: #FFF;
	display: inline-block;
	margin: 5px;
	border-radius:10px;
}

.boton-entrada label span {
    padding:1em;
    border-radius:10px;
    display:block;
	position: relative;    
}

.boton-entrada label input {
    display: none;
}

.boton-entrada input:checked + span {
    background-color: #0D0;
}

.boton-entrada input:not(:checked) + span {
    background-color: #F00;
    top: -7px;
}


.boton-entrada input:checked + span:before {
    content: "1";
}

.boton-entrada input:not(:checked) + span:before {
    content: "0";
}


.boton-entrada {
	background-color: #600;
}

.lamparita {
	margin: 5px 20px;
	padding: 20px;
	border-radius: 100px;
	border: 3px solid;
}

.lamparita.encendida {
	border-color: #999900;
	background-color: yellow;
}

.lamparita.apagada {
	background-color: #DDDD;
}

#salida {
	display: flex;
}